In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
#Read Dataset.csv
df = pd.read_csv("Students Social Media Addiction.csv")
df

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8

In [44]:
#Shape Of Dataset
print(f"Shape Of The Dataset : {df.shape}")

Shape Of The Dataset : (705, 13)

In [45]:
df.dtypes

Student_ID                        int64
Age                               int64
Gender                           object
Academic_Level                   object
Country                          object
Avg_Daily_Usage_Hours           float64
Most_Used_Platform               object
Affects_Academic_Performance     object
Sleep_Hours_Per_Night           float64
Mental_Health_Score               int64
Relationship_Status              object
Conflicts_Over_Social_Media       int64
Addicted_Score                    int64
dtype: object

In [46]:
df.head(10)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
5,6,19,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
6,7,23,Male,Graduate,Germany,1.5,LinkedIn,No,8.0,9,Single,0,2
7,8,20,Female,Undergraduate,Brazil,5.8,Snapchat,Yes,6.0,6,In Relationship,2,8
8,9,18,Male,High School,Japan,4.0,TikTok,No,6.5,7,Single,1,5
9,10,21,Female,Graduate,South Korea,3.3,Instagram,No,7.0,7,In Relationship,1,4

In [47]:
df.tail(10)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
695,696,23,Male,Graduate,USA,5.5,Twitter,Yes,6.7,6,In Relationship,3,7
696,697,21,Female,Undergraduate,Mexico,6.3,TikTok,Yes,6.2,5,Single,4,8
697,698,24,Male,Graduate,France,4.8,Facebook,No,7.1,7,In Relationship,2,5
698,699,19,Female,Undergraduate,Canada,5.7,Instagram,Yes,6.6,6,Single,3,7
699,700,22,Male,Graduate,UK,6.2,Twitter,Yes,6.3,5,Single,4,8
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8

In [48]:
df["Gender"].value_counts()

Gender
Female    353
Male      352
Name: count, dtype: int64

In [49]:
df["Relationship_Status"].value_counts()

Relationship_Status
Single             384
In Relationship    289
Complicated         32
Name: count, dtype: int64

In [50]:
df["Academic_Level"].value_counts()

Academic_Level
Undergraduate    353
Graduate         325
High School       27
Name: count, dtype: int64

In [51]:
df["Most_Used_Platform"].value_counts()

Most_Used_Platform
Instagram    249
TikTok       154
Facebook     123
WhatsApp      54
Twitter       30
LinkedIn      21
WeChat        15
Snapchat      13
VKontakte     12
LINE          12
KakaoTalk     12
YouTube       10
Name: count, dtype: int64

In [52]:
#numerical_columns
numerical_columns = [item for item in df.columns if df[item].dtype !='O']
numerical_columns

['Student_ID',
 'Age',
 'Avg_Daily_Usage_Hours',
 'Sleep_Hours_Per_Night',
 'Mental_Health_Score',
 'Conflicts_Over_Social_Media',
 'Addicted_Score']

In [53]:
#categorical_columns
categorical_columns = [item for item in df.columns if df[item].dtype == 'O']
categorical_columns

['Gender',
 'Academic_Level',
 'Country',
 'Most_Used_Platform',
 'Affects_Academic_Performance',
 'Relationship_Status']

In [54]:
#check For Null Values
df.isnull().sum()

Student_ID                      0
Age                             0
Gender                          0
Academic_Level                  0
Country                         0
Avg_Daily_Usage_Hours           0
Most_Used_Platform              0
Affects_Academic_Performance    0
Sleep_Hours_Per_Night           0
Mental_Health_Score             0
Relationship_Status             0
Conflicts_Over_Social_Media     0
Addicted_Score                  0
dtype: int64

In [55]:
#Unique From 'Country' column
df["Country"].mode()

0    India
Name: Country, dtype: object

In [56]:
#Check For Duplications
df.duplicated().sum()

np.int64(0)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Student_ID                    705 non-null    int64
 1   Age                           705 non-null    int64
 2   Gender                        705 non-null    object
 3   Academic_Level                705 non-null    object
 4   Country                       705 non-null    object
 5   Avg_Daily_Usage_Hours         705 non-null    float64
 6   Most_Used_Platform            705 non-null    object
 7   Affects_Academic_Performance  705 non-null    object
 8   Sleep_Hours_Per_Night         705 non-null    float64
 9   Mental_Health_Score           705 non-null    int64
 10  Relationship_Status           705 non-null    object
 11  Conflicts_Over_Social_Media   705 non-null    int64
 12  Addicted_Score                705 non-null    int64
dtypes: float64(2), int64(5), object(6)
memory usage: 71.7+ KB

In [58]:
df.describe()

,Student_ID,Age,Avg_Daily_Usage_Hours,Sleep_Hours_Per_Night,Mental_Health_Score,Conflicts_Over_Social_Media,Addicted_Score
count,705.000000,705.000000,705.000000,705.000000,705.000000,705.000000,705.000000
mean,353.000000,20.659574,4.918723,6.868936,6.226950,2.849645,6.436879
std,203.660256,1.399217,1.257395,1.126848,1.105055,0.957968,1.587165
min,1.000000,18.000000,1.500000,3.800000,4.000000,0.000000,2.000000
25%,177.000000,19.000000,4.100000,6.000000,5.000000,2.000000,5.000000
50%,353.000000,21.000000,4.800000,6.900000,6.000000,3.000000,7.000000
75%,529.000000,22.000000,5.800000,7.700000,7.000000,4.000000,8.000000
max,705.000000,24.000000,8.500000,9.600000,9.000000,5.000000,9.000000

In [59]:
#Sleep Deficit (8-hours)
df["Sleep_Deficit"] = 8 - df["Sleep_Hours_Per_Night"]
df

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score,Sleep_Deficit
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8,1.5
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3,0.5
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9,3.0
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4,1.0
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5,0.8
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9,2.1
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7,1.3
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4,0.5
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8,1.7

In [60]:
#Addiction_Category Using Score Range
df["Addiction_Category"] = pd.cut(df["Addicted_Score"],bins = [0,4,8,12,100],labels = ["Low","Moderate","High","Severe"])
df

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score,Sleep_Deficit,Addiction_Category
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8,1.5,Moderate
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3,0.5,Low
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9,3.0,High
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4,1.0,Low
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7,2.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5,0.8,Moderate
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9,2.1,High
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7,1.3,Moderate
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4,0.5,Low
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8,1.7,Moderate

In [61]:
#Sleep vs Social Media Interaction
df["SM_Hours_Per_Sleep_Hour"] = df["Avg_Daily_Usage_Hours"] / df["Sleep_Hours_Per_Night"]
df

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score,Sleep_Deficit,Addiction_Category,SM_Hours_Per_Sleep_Hour
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8,1.5,Moderate,0.800000
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3,0.5,Low,0.280000
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9,3.0,High,1.200000
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4,1.0,Low,0.428571
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7,2.0,Moderate,0.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5,0.8,Moderate,0.652778
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9,2.1,High,1.152542
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7,1.3,Moderate,0.835821
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4,0.5,Low,0.573333
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8,1.7,Moderate,0.984127

In [62]:
#SM_Per_SH category using SM_Hours_Per_Sleep_Hour
df["SM_Per_SH Category"] = pd.cut(df["SM_Hours_Per_Sleep_Hour"],bins = [-1,0.75,1.25,2.0,float("inf")],
                                  labels = ["Balanced","Slight Imbalanced","High Imbalanced","Severe Addiction Risk"])
df

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score,Sleep_Deficit,Addiction_Category,SM_Hours_Per_Sleep_Hour,SM_Per_SH Category
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8,1.5,Moderate,0.800000,Slight Imbalanced
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3,0.5,Low,0.280000,Balanced
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9,3.0,High,1.200000,Slight Imbalanced
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4,1.0,Low,0.428571,Balanced
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7,2.0,Moderate,0.750000,Balanced
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5,0.8,Moderate,0.652778,Balanced
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9,2.1,High,1.152542,Slight Imbalanced
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7,1.3,Moderate,0.835821,Slight Imbalanced
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4,0.5,Low,0.573333,Balanced
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8,1.7,Moderate,0.984127,Slight Imbalanced

In [66]:
#Verify New Columns
df.head()
df[["Student_ID","Sleep_Hours_Per_Night","Sleep_Deficit","Addicted_Score","Addiction_Category",
    "Avg_Daily_Usage_Hours","SM_Hours_Per_Sleep_Hour","SM_Per_SH Category"]].head(10)

,Student_ID,Sleep_Hours_Per_Night,Sleep_Deficit,Addicted_Score,Addiction_Category,Avg_Daily_Usage_Hours,SM_Hours_Per_Sleep_Hour,SM_Per_SH Category
0,1,6.5,1.5,8,Moderate,5.2,0.800000,Slight Imbalanced
1,2,7.5,0.5,3,Low,2.1,0.280000,Balanced
2,3,5.0,3.0,9,High,6.0,1.200000,Slight Imbalanced
3,4,7.0,1.0,4,Low,3.0,0.428571,Balanced
4,5,6.0,2.0,7,Moderate,4.5,0.750000,Balanced
5,6,4.5,3.5,9,High,7.2,1.600000,High Imbalanced
6,7,8.0,0.0,2,Low,1.5,0.187500,Balanced
7,8,6.0,2.0,8,Moderate,5.8,0.966667,Slight Imbalanced
8,9,6.5,1.5,5,Moderate,4.0,0.615385,Balanced
9,10,7.0,1.0,4,Low,3.3,0.471429,Balanced